# Production / Docker (VPS)
DJANGO_ENV=production
DEBUG=False
RUNNING_IN_DOCKER=1

SECRET_KEY=your-production-secret-key
SERVER_IP=103.90.224.203
ALLOWED_HOSTS=103.90.224.203,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://103.90.224.203,https://103.90.224.203

DB_NAME=portaljustplay_db
DB_USER=postgres
DB_PASSWORD=123123
DB_HOST=db
DB_PORT=5432
