{% extends "base.html" %}
{% load static %}

{% block extra_head %}{% block nas_extra_head %}{% endblock %}{% endblock %}

{% block content %}
{% include "nas_storage/_nas_page_loading.html" %}
<div class="jp-nas-page" data-loading-message="{% block nas_loading_message %}Đang tải NAS…{% endblock %}">
{% block nas_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/nas_storage/nas_page_loading.js' %}?v=20260627a"></script>
{% block nas_scripts %}{% endblock %}
{% endblock %}
